<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Nasabah</title>
</head>
<body>
<section layout:fragment="content">
<h2>Data Nasabah</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Nomor</th>
            <th>Nama Depan</th>
            <th>Nama Belakang</th>
            <th>Email</th>
            <th>No HP</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="n: ${dataNasabah}">
            <td th:text="${n.nomor}">123</td>
            <td th:text="${n.namaDepan}">Test</td>
            <td th:text="${n.namaBelakang}">Nasabah</td>
            <td th:text="${n.email}">tn123@contoh.com</td>
            <td th:text="${n.noHp}">0812980</td>
            <td>
                <a th:href="@{/nasabah/form(id=${n.id})}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</section>
</body>
</html>